.home{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("E:/React Development/schoolsystem/src/assets/background.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    padding-top: 80px;
    margin-left: 200px;
}
.text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.heading{
    color:  rgb(211, 211, 250);
    margin-top: 200px;
}
.paragraph{
    color:  rgb(211, 211, 250);
}
.r{
        margin: 0px 300px;
        box-shadow: 0 4px 8px 0 rgba(209, 34, 34, 0.2), 0 6px 20px 0 rgba(236, 207, 207, 19);
        width: 45rem;
        height: 250px;
}